@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Oswald:wght@400&family=Zeyada&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}
body {
  font-family: "Oswald";
}

.input {
  @apply w-full px-5 border-2 outline-none dark:focus:border-[#ff7700d3] focus:border-[#ff7700d3] duration-300 dark:focus:text-white dark:bg-transparent border-black dark:border-neutral-300 bg-neutral-200 rounded-lg md:h-12 h-12 md:text-xl  dark:border-opacity-50 border-opacity-50;
}

.BackToTop {
  @apply hidden bg-opacity-80  fixed bottom-20 right-10 z-50 bg-[#ff7700d3] dark:text-white text-black text-2xl  rounded-full p-2 cursor-pointer transition ease-in-out duration-300;
}

.BackToTop.show {
  @apply block;
}

.BackToTop:hover {
  @apply scale-125;
}

@layer components {
  .bg-frostBlack {
    background-color: #191c20;
  }
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-2 shadow-lg text-gray-900 bg-white dark:bg-frostBlack text-4xl dark:text-white hover:text-[#ff7700d3] dark:hover:text-[#ff7700d3]
    rounded-3xl hover:rounded-xl
    transition-all duration-200 ease-linear
    cursor-pointer;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-12
    rounded-md shadow-md
    text-white bg-gray-900
    lg:text-2xl text-xl font-bold
    transition-all duration-200 scale-0 origin-left;
  }

  .nav-dropdown {
    @apply absolute w-auto
  rounded-md shadow-md
  transition-all duration-200 scale-0 origin-left;
  }

  .btn {
    @apply bg-[#ff7700d3] text-black shadow-lg hover:bg-[#ff7700d3] shadow-neutral-800 dark:hover:text-[#ff7700d3] dark:text-white  dark:bg-gray-900 dark:hover:bg-frostBlack py-2 px-4 rounded;
  }
}
